body > .container {
  margin-top: 60px;
}
.sidebar {
  border: 1px solid #ccc;
  padding: 10px;
}
.sidebar .widget {
  margin-bottom: 20px;
}
.sidebar .widget .title {
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
}
.sidebar .widget li {
  margin-right: 10px;
}
.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
img.avatar {
  margin: 20px 0;
}
