<div class="sidebar">
  <div class="widget">
    <a class="feed alignright" title="RSS 2.0 feed for posts" rel="alternate" href="http://feeds.feedburner.com/richard-huang">
      <img src="/img/rss-button.gif" alt="latest posts" title="latest posts">
    </a>
  </div>
  <div class="widget">
    <div class="title">About Me</div>
    <div class="clearfix">
      <p>I'm a Ruby/iOS freelancer who has a strong focus on code quality, server performance and scalability.</p>
      <a class="pull-right" href="http://huangzhimin.com">more →</a>
    </div>
  </div>
  <div class="widget">
    <a href="http://coderwall.com/flyerhzm"><img alt="Endorse flyerhzm on Coderwall" src="http://api.coderwall.com/flyerhzm/endorsecount.png" /></a>
  </div>
  <div class="widget">
    <iframe src="http://githubbadge.appspot.com/badge/flyerhzm" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder=0></iframe>
  </div>
  <div class="widget">
    <h3 class="title">Tags</h3>
    <ul class="unstyled clearfix">
      {% for category in site.categories} %}
      <li class="pull-left"><a href="/categories/{{category | first}}">{{category | first}} ({{category | last | size }})</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="widget">
    <h3 class="title">Archives</h3>
    <ul class="unstyled">
      {% for monthly_archive in site.monthly_archives reversed %}
      <li><a href="/{{ monthly_archive.url }}">{{ monthly_archive.name }} ({{ monthly_archive.posts | size }})</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
