---
layout: default
---

<h1 class="page-title">
  Tag:&nbsp;
  <a href="/categories/{{page.category}}">{{page.category}}</a>
</h1>
<ol class="archive">
{% for post in site.categories[page.category] %}
  <div class="post">
    <h2>
      <a class="title" href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a>
    </h2>
    <p class="published muted">{{ post.date | date_to_string }}</p>
    <div class="content">
      {{ post.content | truncatehtml: 500 }}
      <a href="{{ post.url }}" class="btn pull-right">Read More</a>
    </div>
    <p class="muted">
      Tags&nbsp;
      {% for category in post.categories %}
      <a href="/categories/{{ category }}" title="{{ category }}" rel="category tag" class="btn btn-mini">{{ category }}</a>
      {% endfor %}
    </p>
  </div>
  <hr/>
{% endfor %}
</ol>
